* {
    margin:  0;
    padding: 0;
    color: #303030;
}

body {
    width:  100%;
    height: 100%;
    font-family: "Arial";
    background: rgba(157, 133, 96, 255);
    overflow: auto;
    opacity: 1;

}

@keyframes fade {
  0%   { background-color: rgba(32, 32, 32, 0); }
  100% { background-color: rgba(157, 133, 96, 255) }
}

h2 {
    color: #323232;
}

header {
    background: rgba(223, 198, 172, 255);
    padding: 1.6em;
    margin-top: 0.4%;
    
}

footer {
    text-align: center;
    padding: 1em;
}

#menu {
    list-style: none;
    float: right;
}

#menu li {
    padding-left: 2em;
    padding-right: 2em;
    float: left;
}

#heroCanvas {
    width: 100%;
    height: 30%;
}

#pageContent {
    width: 100%;
    background-color: #303030;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

video {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 20%
}

@keyframes emphasize {
  0%   { background-color: #202020; color: #FFFFFF;}
  100% { background-color: #282828; color: #FFFFFF;}
}

@keyframes de-emphasize {
  0%   { background-color: #282828; color: #FFFFFF;}
  100% { background-color: #202020; color: #FFFFFF;}
}

.contentbox {
    animation: de-emphasize 0.5s linear;
    width: 95%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #202020;
}

.contentbox:hover {
    animation: emphasize 0.5s linear;
    background-color: #282828;
    color: #FFFFFF;
}